@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
/*横並びーその１*/


/*Q７　flaot問題*/

.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

.flow_left{
  float: left;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;

}
.flow_right{
  float: left;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}
/*Q７ table並び*/
.table-align{
  display: table;
}

.table_left{
  display: table-cell;
  width: 225px;
  vertical-align: middle;
}
.table_right{
  display: table-cell;
  width: 225px;
  vertical-align: middle;
  padding-left: 50px;
}
.q7__box__text{
  font-size: 16px;
}

/*Q7 inlin-blockの鉾並び*/
.inlineblock-align{
  font-size: 0;
}

.inlineblock_left{
  display:inline-block;
  width: 225px;
  font-size:16px;
  vertical-align: middle;
  box-sizing: border-box;


}
.inlineblock_right{
  display: inline-block;
  width: 225px;
  font-size: 16px;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*flexの横*/
.flex{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.all-1{
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
}

/*Q７ inline-blockとmarg*/

.is-full{
  font-size: 0;

}
.q7__margin{
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
.q7__inline_block{
display: inline-block;
width: 100%;
margin-left: -300px;
padding-left: 350px;
box-sizing: border-box;
}
.q7__box__text .content{
  font-size: 16px;
}
