@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */ 
.table_all{
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}
.table_th{
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
  font-size: 18px;
  line-height: 26px;
  background-color: #24a;
  color: #fff;
}
.table_all td{
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
  line-height: 22px;
  text-align: center;
}
.tablerow:nth-child(even) {
  background-color: #ECF1F2;
}
.tablerow:last-child {
  border-top: 2px dashed #000;
}