@charset "UTF-8";

.contents{
  text-align: center;
}
.text_align{
  display: inline-block;
}
.text{
width: 90px;
background-color: #e6f2ff;
padding: 10px;
}
.margin{
  margin: auto;
  text-align: center;
}


/*天地中央寄せ*/

.is_table{
  display: table;
}
.is_table_box{
  display: table-cell;
  background-color: #ECF1F2;
  text-align: center;
  vertical-align: middle;
}
.is_table .box_text{
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
}

.is_flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.is_flex .box_text{
  padding: 10px;
  background-color: #FFF;
}

/*天地中央寄せ　固定・可変*/

.left-one{
  position: relative;
}
.right-one{
  position: relative;
}

.left-t{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.right-t{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
